header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid $color-secondary;

  .logo {
    position: absolute;
    img {
      height: 59px;
      width: auto;
    }
  }

  h1 {
    margin: 0;
    line-height: 60px;

    a {
      color: $color;
      &:hover {
        color: $color-secondary;
      }
    }
  }
}