.content {
  width: calc(100% - #{$sidebar-w});
  position: absolute;
  top: 0;
  left: $sidebar-w;
  padding-bottom: 100px;
}

.sidebar {
  width: $sidebar-w;
  position: fixed;
  left: 0;
}

.footer {
  position: fixed;
  width: calc(100% - #{$sidebar-w});
  bottom: 0;
  left: $sidebar-w;
  height: 100px;
  background: $nero-dark;
}