.posts {
  height: 100%;

  &__lines {
    position: fixed;
    width: calc(100% - #{$sidebar-w});
    left: $sidebar-w;
    top: 0;
    z-index: 1;
    transition: all 0.3s;
  }

  &__lines-item {
    position: absolute;
    top: 0;
    width: 33.333%;
    height: 5px;
    z-index: 1;

    &-left {
      background: $golden-yellow;
    }

    &-middle {
      background: $medium-spring-green;
      left: 33.333%;
    }

    &-right {
      background: $outrageous-orange;
      left: 66.666%;
    }
  }

  .item {
    position: relative;
    width: 33.333%;
    height: 100%;
    padding: 0 20px;
    float: left;
    border-right: 1px solid $nero-dark;
    border-bottom: 1px solid $nero-dark;

    &:last-child {
      margin-bottom: 100px;
    }

    &:nth-of-type(1n) {
      &:hover {

      }

      .item__image {
        &:after {
          right: 0;
        }
      }

      .item__title {
        a {
          color: $golden-yellow;
        }
      }
    }
    &:nth-of-type(2n) {
      .item__image {
        &:after {
          right: 0;
          bottom: 0;
        }
      }

      .item__title {
        a {
          color: $medium-spring-green;
        }
      }
    }
    &:nth-of-type(3n) {
      border-right: none;

      .item__image {
        &:after {
          bottom: 0;
          left: 0;
        }
      }

      .item__title {
        a {
          color: $outrageous-orange;
        }
      }
    }

    &-inner {
      position: relative;
      height: 380px;
      top: 50%;
      margin-top: -190px;
    }

    &__image {
      position: relative;
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      background-color: $nero-dark;
      border-radius: 50px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 65px;
        height: 65px;
        border-radius: 33px;
        background: $nero;
      }
    }

    &__title {
      margin: 30px 0;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__iterator {
      position: absolute;
      bottom: 20px;
      font-family: $font3;
      font-size: 24px;
      color: $nero-dark;
    }
  }
}

.post {
  padding: 20px;
  max-width: 600px;
}

.item-info {
  position: relative;
  margin-top: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: $light-gray;

  &:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 40px;
    border-top: 2px solid #b7b7b7;
  }
}

.back {
  margin-top: 20px;
  font-size: 12px;
}