$flush-orange: #FF7F00;
$bright-sun: #FFD933;
$turmeric: #CCCC52;
$chelsea-cucumber: #8FB259;
$mine-shaft: #282828;
$white: #fff;

$bg: $white;
$color: $mine-shaft;
$color2: #008dde;

$font: Helvetica, Arial, sans-serif;
$font2: 'Forum', cursive;