head
    title Blog
    link(rel="stylesheet", href="/css/blog.css")
    link(rel="stylesheet", href="/css/libs/jquery-ui.min.css")
    link(href='http://fonts.googleapis.com/css?family=Poiret+One|Forum&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //TODO add all favicons type
    link(rel="icon", type="image/ico", href="/images/favicon/favicon.ico")