header
    .content
        .content-inner
            a.logo(href='http://arche.sounex.com')
                img(src='/images/logo.png', alt='Arche Blog', title='Arche Blog')
            h1
                a(href='/') Blog
            a.login(href='/login') Login
            a.login(href='/profile') Profile