#sidebar.sidebar
    a.logo(href='/' title='Arche Blog')
        nav#home.home
            .line
            .main-cycle.cycle
            .center-button.blog
            .center-button.version.nav-cycle
            .left-cycle.cycle.nav-cycle
            .right-cycle.cycle.nav-cycle
            .inner-cycle.cycle
                .cycle-home Blog

    a.menu(href='#')
        .menu__line
        .menu__line
        .menu__line