$nero: #272727;
$nero-dark: #171717;
$golden-yellow: #FFE400;
$medium-spring-green: #00ff99;
$outrageous-orange: #ff652f;
$pacific-blue: #008DDE;
$white: #fff;

$bg: $nero;
$color: $white;
$color2: $pacific-blue;

$font: Helvetica, Arial, sans-serif;
$font2: 'Forum', cursive;