doctype html
include components/head
html
    body
        include components/header
        #main.clearfix
            include components/sidebar
            #content.content
                block content
                include components/footer