doctype html
include components/head
html
    body
        #main.clearfix
            #content.content
                block content
            include components/sidebar
            include components/footer