doctype html
include components/head
html
    body
        script.
            var USER = !{(typeof user === "undefined" ? false : JSON.stringify(user))}
        #main.clearfix
        include components/footerUI-api