extends ../layout

block content
    .content-inner
        h2 Login page

        .form.form-account
            form(action='/login' method='post')
                .form__row
                    input.form__input-text(type='text', name='login', id='login', placeholder='Login')
                .form__row
                    input.form__input-pussword(type='password', name='password', id='password', placeholder='Password')
                .form__row-button
                    button.form__button.button(type='submit') Submit

            .error= message