extends ../layout-api

block content
    .content-inner
        h2 Profile
        .login= user.login
        .name= user.name

        a(href='/create') Create Post
        br
        a(href='/profile/edit') Edit Profile