.posts {
    height: 100%;

    &__lines {
        display: none;
        @include respond(large-up) {
            display: block;
            position: fixed;
            width: calc(100% - #{$sidebar-w});
            left: $sidebar-w;
            top: 0;
            z-index: 1;
            transition: $transition-in;
        }
    }

    &__lines-item {
        position: absolute;
        top: 0;
        width: 33.333%;
        height: 5px;
        z-index: 1;

        &-left {
            background: $golden-yellow;
        }

        &-middle {
            background: $medium-spring-green;
            left: 33.333%;
        }

        &-right {
            background: $outrageous-orange;
            left: 66.666%;
        }
    }

    .item {
        position: relative;
        padding: 20px;
        border-bottom: 1px solid $nero-dark;
        overflow: hidden;
        @include respond(large-up) {
            width: 50%;
            height: 100%;
            padding: 50px 0;
            float: left;
            border-right: 1px solid $nero-dark;
            overflow: hidden;
        }
        @include respond(desktop) {
            width: 33.333%;
        }

        &:nth-of-type(1) {
            .item-line {
                background: $golden-yellow;
            }
        }

        &:nth-of-type(2) {
            .item-line {
                background: $medium-spring-green;
            }
        }

        &:nth-of-type(3) {
            .item-line {
                background: $outrageous-orange;
            }
        }

        &:nth-of-type(3n+1) {
            .item__image.no-image {
                &:after {
                    right: 0;
                }
            }

            .item__title {
                a {
                    color: $golden-yellow;
                }
            }
        }
        &:nth-of-type(3n-1) {
            .item__image.no-image {
                &:after {
                    right: 0;
                    bottom: 0;
                }
            }

            .item__title {
                a {
                    color: $medium-spring-green;
                }
            }
        }
        &:nth-of-type(3n) {
            @include respond(desktop) {
                border-right: none;
            }

            .item__image.no-image {
                &:after {
                    bottom: 0;
                    left: 0;
                }
            }

            .item__title {
                a {
                    color: $outrageous-orange;
                }
            }
        }

        &-line {
            display: none;
            @include respond(large-up) {
                display: block;
                width: 100%;
                height: 5px;
                position: fixed;
                top: 0;
                z-index: 1;
            }
        }

        &-inner {
            position: relative;
        }

        &__image {
            img {
                width: 100%;
                height: auto;
            }
            .no-image {
                position: relative;
                display: block;
                width: 50px;
                height: 50px;
                margin: 0 auto;
                background-color: $nero-dark;
                border-radius: 25px;
                @include respond(large-up) {
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 33px;
                    height: 33px;
                    border-radius: 17px;
                    background: $nero;
                    @include respond(large-up) {
                        width: 65px;
                        height: 65px;
                        border-radius: 33px;
                    }
                }
            }
        }

        &__title {
            margin: 30px 0;
            @include respond(large-up) {
                padding: 0 20px;
            }
            a {
                border: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__image {
            border: none;
        }

        &__text {
            @include respond(large-up) {
                padding: 0 20px;
            }
            p {
                text-indent: 0;
            }
        }

        &__iterator {
            position: absolute;
            font-family: $font3;
            font-size: 20px;
            color: $light-gray;
            top: 20px;
            right: 0;
            padding: 0 20px;
            margin: 0;
            float: none;

            @include respond(large-up) {
                font-size: 24px;
            }
        }

        &__widget-child {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 20px;
            min-width: 250px;
            background: #1f1f1f;
            border-radius: 4px;
            font-family: $font3;
            font-size: 12px;
            transform: translateX(250px);
            transition: $transition-in;
            @include respond(large-up) {
                bottom: -20px;
            }

            li {
                margin-bottom: 10px;
                &:last-child {
                    margin: 0;
                }
            }

            span {
                color: $light-gray;
                display: inline-block;
                margin-right: 5px;
            }
        }

        &__widget-count {
            margin-top: 20px;
            float: right;
            cursor: pointer;

            &:hover {
                .item__widget-child {
                    transform: translateX(0);
                    transition: $transition-out;
                }
            }

            @include respond(large-up) {
                position: absolute;
                bottom: 20px;
                right: 0;
                padding: 0 20px;
                margin: 0;
                float: none;
            }

            &__label {
                font-family: $font3;
                font-size: 18px;
                color: $light-gray;

                span {
                    font-size: 24px;
                }
            }
        }
    }
}

.item-info {
    position: relative;
    margin-top: 40px;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: $light-gray;

    &:before {
        content: '';
        position: absolute;
        top: -15px;
        left: 0;
        width: 40px;
        border-top: 2px solid #b7b7b7;
    }
}