extends ../layout

block content
    section.posts
        .posts__lines
            .posts__lines-item.posts__lines-item-left
            .posts__lines-item.posts__lines-item-middle
            .posts__lines-item.posts__lines-item-right

        - var collection = JSON.parse(posts)
        for item in collection
            article.item.js-bgstyle
                .item-inner
                    a.item__image(href='/post/' + item.link)
                    h2.item__title
                        a(href='/post/' + item.link)= item.title
                    .item__text!= item.content