extends ../layout-api

block content
    h2 Create Post

    form(action='/create' method='post')
        .form-row
            label(for='title') Title
            input(type='text', id='title', name='title')
        .form-row
            label(for='content-area') Content
            textarea(id='content-area', name='content', class='ckeditor')
        .form-row
            - var collection = JSON.parse(posts)
            label(for='parentnode') Родительская Статья
            select(name='parentnode', id='parentnode')
                option(value='') Выбрать
                for item in collection
                    option(value= item._id)= item.title
        .form-row
            - var date = new Date()
            - var dateString = date.getMonth() + 1 + '.' + date.getDate() + '.' + date.getFullYear()
            label(for='date') Date
            input(type='text', id='date', name='date', value= dateString, class='js-date-picker')
        .form-row
            button(type='submit') Submit