extends ../layout

block content
    - var collection = JSON.parse(post)
    for item in collection
        h2 Edit Post
            span= item.name

        form(action='/post/' + item.link + '/edit' method='post')
            input(type='hidden', id='id', name='id', value= item._id)
            .form-row
                label(for='title') Title
                input(type='text', id='title', name='title', value= item.title)
            .form-row
                label(for='content-area') Content
                textarea(id='content-area', name='content', class='ckeditor')= item.content
            .form-row
                - var date = new Date(item.date)
                - var dateString = date.getMonth() + 1 + '.' + date.getDate() + '.' + date.getFullYear()
                label(for='date') Date
                input(type='text', id='date', name='date', value= dateString, class='js-date-picker')
            .form-row
                label(for='link') Link
                input(id='link', name='link', value= item.link)
            .form-row
                button(type='submit') Submit

        .back
            a(href='/post/' + item.link) <- Back