extends ../layout

block content
    - var collection = JSON.parse(post)
    section.post
        for item in collection
            article.item
                h2.item__title= item.title
                .item__text!= item.content
                .item-info
                    .item-info__author= item.author.name
                    .item-info__date= item.date
                if isLoggedIn()
                    .edit
                        a(href='/post/' + item.link + '/edit') Edit post
                    .delete
                        a(href='/post/' + item.link + '/remove') Delete post
        .back
            a(href='/') Назад