extends ../layout-api

block content
    - var collection = JSON.parse(post)
    section.post
        for item in collection
            article.item
                input(type='hidden', name='item-id', id='js-item__id' value= item._id)
                h2.item__title= item.title
                .item__text!= item.content
                .item-info
                    - var date = new Date(item.date)
                    - var dateString = date.getMonth() + 1 + '.' + date.getDate() + '.' + date.getFullYear()
                    .item-info__author= item.author.name
                    .item-info__date= dateString
                if isLoggedIn()
                    .edit
                        a(href='/post/' + item.link + '/edit') Edit post
                    .delete
                        a(href='/post/' + item.link + '/remove') Delete post
        .back
            a(href='/') Назад

    section.widgets
        .widget
            .widget__child-nodes.js-widget__child-nodes