@include respond(large-up) {
  .logo {
    text-align: center;
    display: block;
    padding: 50px 0;

    &:hover {
      .left-cycle {
        left: calc(50% + ( #{$main-cycle-size} - #{$sub-cycle-size} ) / 2);
      }

      .right-cycle {
        left: calc(50% - ( #{$sub-cycle-size} + #{$main-cycle-size}) / 2);
      }
    }

    .home {
      position: relative;
      width: $nav-size;
      height: $main-cycle-size;
      display: inline-block;

      a:hover,
      a.active {
        background: $pacific-blue;
        transition: $nav-transition;

        &.cycle-home {
          background: none;
        }
      }

      .line {
        display: none;
        height: 2px;
        width: $line-width;
        background: $pacific-blue;
        position: absolute;
        top: $main-cycle-size / 2;
        margin-left: - ($line-width - $nav-size) / 2;
        transform: rotate(-45deg);
      }

      &#home {
        .line {
          display: block;
        }
      }
    }

    .cycle {
      position: absolute;
      text-align: center;
      background: $nero;
      border: $cycle-border solid $pacific-blue;
      display: block;
      left: 50%;
      box-sizing: border-box;
      box-shadow: $nav-shadow;
    }

    .main-cycle {
      width: $main-cycle-size;
      height: $main-cycle-size;
      margin-left: - $main-cycle-size / 2;
      border-radius: $main-cycle-radius;
    }

    .inner-cycle {
      width: $inner-cycle-size;
      height: $inner-cycle-size;
      margin-top: ($main-cycle-size - $inner-cycle-size) / 2;
      margin-left: - $inner-cycle-size / 2;
      background: $white;
      font-size: $main-cycle-font-size;
      line-height: $inner-cycle-size;
      z-index: 1;
      border: none;
      border-radius: $inner-cycle-size / 2;
      color: $nero;
      font-family: $font3;

      a {
        color: $nero;
        width: $inner-cycle-size;
        height: $inner-cycle-size;
        display: block;

        &:hover {
          background: none;
          color: $nero;
          width: $inner-cycle-size + 2;
          height: $inner-cycle-size + 2;
        }
      }
    }

    .left-cycle,
    .right-cycle {
      width: $sub-cycle-size;
      height: $sub-cycle-size;
      top: ($main-cycle-size - $sub-cycle-size) / 2;
      line-height: $sub-cycle-size;
      border-radius: $sub-cycle-size / 2;
      transition: all 0.3s;
    }

    .left-cycle {
      left: calc(50% - ( #{$sub-cycle-size} + #{$main-cycle-size}) / 2);
    }

    .right-cycle {
      left: calc(50% + ( #{$main-cycle-size} - #{$sub-cycle-size} ) / 2);
    }

    .center-button {
      background: $pacific-blue;
      height: $main-cycle-size / 2;
      width: $main-cycle-size;
      left: 50%;
      margin-left: - $main-cycle-size / 2;
      text-align: center;
      display: block;
      background: $nero;
      border: $cycle-border solid $pacific-blue;
      position: absolute;
      border-radius: $main-cycle-radius $main-cycle-radius 0 0;

      span {
        display: block;
        margin-top: 15px;
      }

      &.version {
        top: $main-cycle-size / 2;
        border-radius: 0 0 $main-cycle-radius $main-cycle-radius;

        span {
          margin-top: 100px;
        }
      }
    }
  }
}

@include respond(medium-down) {
  $main-cycle-size: 40px;
  $main-cycle-font-size: 18px;
  $main-cycle-radius: $main-cycle-size / 2;
  $inner-cycle-size: $main-cycle-size / $gold;
  $sub-cycle-size: $main-cycle-size / $gold;
  $nav-size: $main-cycle-size + $sub-cycle-size;
  $line-width: $main-cycle-size * $gold * 1.2;
  $border-style: $cycle-border $pacific-blue solid;

  .logo {
    text-align: center;
    display: block;
    padding: 10px 0;

    .home {
      position: relative;
      width: $nav-size;
      height: $main-cycle-size;
      display: inline-block;

      .cycle-home {
        display: none;
      }

      a:hover,
      a.active {
        background: $pacific-blue;
        transition: $nav-transition;

        &.cycle-home {
          background: none;
        }
      }

      .line {
        display: none;
        height: 1px;
        width: $line-width;
        background: $pacific-blue;
        position: absolute;
        top: $main-cycle-size / 2;
        margin-left: - ($line-width - $nav-size) / 2;
        transform: rotate(-45deg);
      }

      &#home {
        .line {
          display: block;
        }
      }
    }

    .cycle {
      position: absolute;
      text-align: center;
      background: $nero;
      border: 1px solid $pacific-blue;
      display: block;
      left: 50%;
      box-sizing: border-box;
      box-shadow: $nav-shadow;
    }

    .main-cycle {
      width: $main-cycle-size;
      height: $main-cycle-size;
      margin-left: - $main-cycle-size / 2;
      border-radius: $main-cycle-radius;
    }

    .inner-cycle {
      width: $inner-cycle-size;
      height: $inner-cycle-size;
      margin-top: ($main-cycle-size - $inner-cycle-size) / 2;
      margin-left: - $inner-cycle-size / 2;
      background: $white;
      font-size: $main-cycle-font-size;
      line-height: $inner-cycle-size;
      z-index: 1;
      border: none;
      border-radius: $inner-cycle-size / 2;
      color: $nero;
      font-family: $font3;

      a {
        color: $nero;
        width: $inner-cycle-size;
        height: $inner-cycle-size;
        display: block;

        &:hover {
          background: none;
          color: $nero;
          width: $inner-cycle-size + 2;
          height: $inner-cycle-size + 2;
        }
      }
    }

    .left-cycle,
    .right-cycle {
      width: $sub-cycle-size;
      height: $sub-cycle-size;
      top: ($main-cycle-size - $sub-cycle-size) / 2;
      line-height: $sub-cycle-size;
      border-radius: $sub-cycle-size / 2;
      transition: all 0.3s;
    }

    .left-cycle {
      left: calc(50% - ( #{$sub-cycle-size} + #{$main-cycle-size}) / 2);
    }

    .right-cycle {
      left: calc(50% + ( #{$main-cycle-size} - #{$sub-cycle-size} ) / 2);
    }

    .center-button {
      background: $pacific-blue;
      height: $main-cycle-size / 2;
      width: $main-cycle-size;
      left: 50%;
      margin-left: - $main-cycle-size / 2;
      text-align: center;
      display: block;
      background: $nero;
      border: 1px solid $pacific-blue;
      position: absolute;
      border-radius: $main-cycle-radius $main-cycle-radius 0 0;

      span {
        display: block;
        margin-top: 15px;
      }

      &.version {
        top: $main-cycle-size / 2;
        border-radius: 0 0 $main-cycle-radius $main-cycle-radius;

        span {
          margin-top: 100px;
        }
      }
    }
  }
}