.sidebar {
  @import "logo";

  &-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    z-index: 2;
    transition: $transition-in;
  }

  .menu {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: $nero-dark;
    border-radius: 20px;
    padding: 12px 10px 0;
    top: 10px;
    left: 10px;
    transform: rotate(0deg);
    transition: $transition-in;
    outline: 0;

    @include respond(large-up) {
      top: 50%;
      left: 50%;
      margin: -30px 0 0 -30px;
      padding: 19px 16px 0;
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }

    &__line {
      display: block;
      background: $pacific-blue;
      width: 100%;
      height: 3px;
      margin-bottom: 4px;
      transition: $transition-in;

      @include respond(large-up) {
        height: 4px;
        margin-bottom: 5px;
      }
    }

    &:hover {
      transform: rotate(-90deg);
    }
  }

  .version {
    position: absolute;
    top: 20px;
    right: 10px;
    color: $light-gray;

    @include respond(large-up) {
      right: initial;
      top: initial;
      left: 10px;
      bottom: 10px;
    }
  }

  .submenu {
    position: fixed;
    z-index: 1;
    left: 0;
    top: -400px;
    width: 100%;
    background: $nero-dark;
    padding: 10px 10px;
    transition: $transition-in;

    @include respond(large-up) {
      top: 0;
      left: - ($submenu-w - $sidebar-w);
      width: $submenu-w;
      height: 100%;
      padding: 50px 10px;
    }

    &-list {
      margin: 0 0 20px 0;
      padding: 0;

      &__item {
        list-style: none;
        margin: 0;
        border-bottom: 1px solid $nero;

        a {
          display: block;
          padding: 7px 10px;
        }
      }
    }

    &__title {
      color: $light-gray;
      font-size: 12px;
    }
  }
}

body.menu-active {
    .sidebar-inner {
        background: $nero-dark;
        transition: $transition-out;

        .menu {
            background: #1f1f1f;
            transition: $transition-out;
            &:hover {
                transform: rotate(-90deg);
            }

            &__line {
                transition: $transition-out;

                &:nth-child(1) {
                    transform: rotate(45deg) translateX(5px) translateY(5px);
                    @include respond(large-up) {
                        transform: rotate(45deg) translateX(6px) translateY(6px);
                    }
                }
                &:nth-child(2) {
                    transform: rotate(-45deg) translateX(0) translateY(0);
                }
                &:last-child {
                    display: none;
                }
            }
        }
    }

  .submenu {
    top: 60px;
    @include respond(large-up) {
      top: inherit;
    }
  }

    .submenu,
    .wrapper,
    .footer {
        @include respond(large-up) {
            transform: translateX($submenu-w);
            transition: $transition-out;
        }
    }

  .posts__lines {
    transform: translateX(-$sidebar-w);
    transition: $transition-out;
  }
}